body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Search column*/
.title {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 20px;
    margin-bottom: 10px;
}

.container-fluid .row .col-3 {
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 0px 5px rgba(0,0,0,.3);
    padding: 10px;
}

.container-fluid .row .col-3 .cities {
    background-color: white;
    margin-top: 10px;
    border: solid 1px black;
    border-radius: 0.3em;
    padding: 10px;
}

.container-fluid .row .col-3 .cities .list-unstyled {
    text-align: center;
    font-size: 25px;
    display: block;
    list-style-type: none;
    width: 100%;
    cursor: pointer;
}

.container-fluid .row .col-3 .cities table tr{
    text-align: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 20px;
}

/*Display weather column*/
.container-fluid .row .col-9 .row .display-info {
    margin: 10px;
    border: solid 1px black;
    /*width: 100%;*/
    border-radius: 0.3em;
}

/*.container-fluid .row .col-9 .row .display-info #icon {
    float: right;
    margin-top: -45px;
    margin-right: 280px;
}*/

.container-fluid .row .col-9 .row .col-12 .display-info {
    padding: 20px;
}

.container-fluid .row .col-6 .row .col-12 .display-info.box {
    border: solid 1px black;
    background-color: blue;
    width: 50%;
}

.container-fluid .row .col-9 .row .col-12 .display-info .uvContainer {
    border: solid 1px black;
    border-radius: 0.3em;
}

/*Second row*/
.container-fluid .row .forecast {
    width: 95%;
    margin: 10px auto;
    padding: 15px;
}

.container-fluid .row .col-2 {
    background-color: rgb(72, 90, 252);
    height: 200px;
    border: solid 1px black;
    border-radius: 0.3em;
    margin: 0 10px;
    color: white;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 20%;
}

/*.col-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    min-width: 50%;
}*/

@media (max-width: 1200px) {
    .container-fluid .row .forecast .row {
        margin-left: 15px;
    }
}

@media (max-width: 992px) {
    .container-fluid .row .forecast .row {
        margin-left: 95px;
    }
}

@media (max-width: 768px) {
    #search {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .container-fluid .col-9 .row {
        display: block;
    }
    .container-fluid .row .forecast .row .col-2 {
        width: 200px;
    }
}

/*Color classes*/
.yellow {
    background-color:yellow;
    color: black;
    padding: 15px;
    margin-bottom: 30px;
    border: solid 1px black;
    margin-left: 20px;
    border-radius: 0.3em;
}

.orange {
    background-color:orange;
    color: black;
    padding: 15px;
    margin-bottom: 30px;
    border: solid 1px black;
    margin-left: 20px;
    border-radius: 0.3em;
}

.red {
    background-color:red;
    color: black;
    padding: 15px;
    margin-bottom: 30px;
    border: solid 1px black;
    margin-left: 20px;
    border-radius: 0.3em;
}

.magenta {
    background-color:rgb(255, 0, 242);
    color: black;
    padding: 15px;
    margin-bottom: 30px;
    border: solid 1px black;
    margin-left: 20px;
    border-radius: 0.3em;
}

.listBtn {
    width: 100%;
}

.col-xs-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/*Version final css*/

#UV {
    width: 15%;
    padding: 5px;
}